<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupware.project.global.jwt.mapper.JwtGlobalMapper">


    <!-- 리프레시 토큰 갱신 -->
    <insert id="updateTokenValue">
        INSERT INTO tables.tbl_user_login
            (user_key, client_ip, token_value, login_date_time, is_permitted)
        VALUES
            (#{userKey}::uuid, #{clientIp}, #{refreshToken}, current_timestamp, true)
        ON CONFLICT (user_key, client_ip) DO UPDATE
            SET token_value = #{refreshToken},
                login_date_time = current_timestamp,
                is_permitted = true
    </insert>

    <!-- 로그아웃 -->
    <update id="logout">
        UPDATE tables.tbl_user_login
        SET is_permitted = false
        WHERE user_key = #{userKey}::uuid
          AND client_ip = #{clientIp}
    </update>

    <!-- 토큰 비활성화 최근 접속 3곳 제외 -->
    <update id="forbidOldTokens">
        UPDATE tables.tbl_user_login
        SET is_permitted = false
        WHERE user_key = #{userKey}::uuid
          AND client_ip NOT IN (SELECT client_ip
                                FROM tables.tbl_user_login
                                WHERE is_permitted = true
                                  AND user_key = #{userKey}::uuid
                                ORDER BY login_date_time DESC
                                LIMIT 3)
    </update>

    <!-- 유저 키로 리프레시 토큰 값 조회 -->
    <select id="getTokenValue" resultType="java.lang.String">
        SELECT token_value
        FROM tables.tbl_user_login
        WHERE user_key = #{userKey}::uuid
          AND client_ip = #{loginIp}
          AND is_permitted = true
    </select>

    <!-- 접속 유저 및 IP 허용 여부 -->
    <select id="isCurrentIpPermitted" resultType="java.lang.Boolean">
        SELECT CASE
                   WHEN COUNT(*) > 0 THEN true
                   ELSE false
                   END AS result
        FROM tables.tbl_user_login
        WHERE user_key = #{userKey}::uuid
          AND client_ip = #{loginIp}
          AND is_permitted = true
    </select>

</mapper>