<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupware.project.global.jwt.mapper.JwtGlobalMapper">

    <!-- 이메일로 유저 키 조회 -->
    <select id="getUserKey" resultType="java.lang.String">
        SELECT user_key
        FROM tables.tbl_user
        WHERE email = #{email}
          AND is_deleted = false
    </select>

    <!-- 유저 키로 리프레시 토큰 값 조회 -->
    <select id="getTokenValue" resultType="java.lang.String">
        SELECT token_value
        FROM tables.tbl_user
        WHERE user_key = #{userKey}
          AND is_deleted = false
    </select>

    <!-- 유저 정보 조회 -->
    <select id="getUserInfo" resultType="com.groupware.project.global.jwt.dto.JwtResponseDTO">
        SELECT email, name
        FROM tables.tbl_user
        WHERE user_key = #{userKey}
          AND is_deleted = false
    </select>

</mapper>