<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupware.project.domain.login.mapper.LoginMapper">

    <!-- 아이디, 비밀번호 일치 여부 -->
    <select id="isLoginInfoExist" resultType="java.lang.Boolean">
        SELECT
            CASE
                WHEN COUNT(*) > 0 THEN true
                ELSE false
                END AS result
        FROM tables.tbl_user
        WHERE
            is_deleted = false
          AND email = #{email}
          AND password = #{password}
    </select>

    <!-- 리프레시 토큰 갱신 -->
    <update id="updateTokenValue">
        UPDATE tables.tbl_user
        SET token_value = #{refreshToken}
        WHERE user_key::text = #{userKey}
          AND is_deleted = false
    </update>

    <!-- 로그아웃 -->
    <update id="logout">
        UPDATE tables.tbl_user
        SET token_value = null
        WHERE email = #{email}
          AND is_deleted = false
    </update>

</mapper>