<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupware.project.domain.user.mapper.UserMapper">

    <!-- 이메일 중복 확인 -->
    <select id="isEmailExist" resultType="java.lang.Boolean">
        SELECT
            CASE
                WHEN COUNT(*) > 0 THEN true
                ELSE false
                END AS result
        FROM tables.tbl_user
        WHERE
            is_deleted = false
          AND email = #{email}
    </select>

    <!-- 회원가입 -->
    <insert id="signUp">
        INSERT INTO tables.tbl_user
        (email, password, name, phone_number, address, birth_date, gender_flag)
        VALUES
        (#{email}, #{password}, #{name}, #{phoneNumber}, #{address}, #{birthDate}::date, #{genderFlag})
    </insert>

    <!-- (관리자용) 유저 목록 조회 -->
    <select id="getUserList" resultType="com.groupware.project.domain.user.dto.UserInfoDTO">
        SELECT
            user_key,
            email,
            name,
            phone_number,
            address,
            birth_date,
            gender_flag,
            role_level
        FROM tables.tbl_user
        WHERE is_deleted = false
    </select>

    <!-- (관리자용) 유저 목록 개수 조회 -->
    <select id="getUserListSize" resultType="java.lang.Integer">
        SELECT
            COUNT(user_key)
        FROM tables.tbl_user
        WHERE is_deleted = false
    </select>

    <!-- (관리자용) 유저 권한 변경 -->
    <update id="manageUser">
        UPDATE tables.tbl_user
        SET role_level = #{roleLevel}::int2
        WHERE user_key = #{userKey}::uuid
    </update>

    <!-- 마이페이지 유저 조회 -->
    <select id="getMyPage" resultType="com.groupware.project.domain.user.dto.UserInfoDTO">
        SELECT
            user_key,
            email,
            name,
            phone_number,
            address,
            birth_date,
            gender_flag,
            role_level
        FROM tables.tbl_user
        WHERE is_deleted = false
          AND email = #{email}
        ORDER BY reg_date_time DESC
        LIMIT 1
    </select>

    <!-- 마이페이지 유저 정보 수정 -->
    <update id="updateMyPage">
        UPDATE tables.tbl_user
        SET password = #{password},
            name = #{name},
            phone_number = #{phoneNumber},
            address = #{address},
            birth_date = #{birthDate}::date,
            gender_flag = #{genderFlag}
        WHERE user_key = #{userKey}::uuid
    </update>

    <!-- 유저 이메일 조회 -->
    <select id="getUserEmail" resultType="java.lang.String">
        SELECT email
        FROM tables.tbl_user
        WHERE is_deleted = false
          AND user_key = #{userKey}::uuid
    </select>

    <!-- 유저 키 조회 -->
    <select id="getUserKey" resultType="java.lang.String">
        SELECT user_key
        FROM tables.tbl_user
        WHERE is_deleted = false
        AND email = #{email}
        ORDER BY reg_date_time DESC
        LIMIT 1
    </select>

</mapper>